*.DS_Store
*.log
.env
.idea
.vscode
node_modules
build
tests/cypress/videos
tests/cypress/screenshots
tests/report.xml
tmp
.swc

.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

