@import "mixins.scss";

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .menu {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px 0;
    margin: 0 -4px;

    .menuItem {
      @include link;
      padding: 8px 16px;
      border: 1px solid var(--textTertiary);
      margin: 0 4px;

      &.isActive {
        font-weight: 500;
      }
    }
  }
}
