<!DOCTYPE html>
<html style="">
<head>
  <!--
  @env development
  @commit local-git-commit
  -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="" />
  <link rel="icon" type="image/png" href="/favicon16.png">
  <title>Error</title>
  <style>
    html { height: 100%; }
    body { padding: 0; margin: 0; height: 100%; }
  </style>
 </head>
<body>
Something goes wrong
</body>
<script>
  if (document.documentElement.clientWidth < 1200) document.body.classList.add('mobile');
  window.scroll(0, 0);
</script>
</html>
