<!DOCTYPE html>
<html style="<!-- THEME -->">
<head>
  <!--
  @env <%= env %>
  @commit <%= commitHash %>
  -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="<!-- DESCRIPTION -->" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon16.png">
  <title><!-- TITLE --></title>
  <style>
    html { height: 100%; }
    body { padding: 0; margin: 0; height: 100%; }
  </style>
<!-- SENTRY -->
<!-- LINKS -->
</head>
<body>
<script>
  if (document.documentElement.clientWidth < 1200) document.body.classList.add('mobile');

  window.scroll(0, 0);

  if (typeof performance !== 'undefined' && performance.mark) performance.mark('headParsed');

  window.INITIAL_DATA = <!-- INITIAL_DATA -->;
  window.MEASURES = <!-- MEASURES -->;
  window.SERVER_CONFIG = <!-- SERVER_CONFIG -->;
</script>
<div id="app"><!-- HTML --></div>
</body>
<!-- SCRIPTS -->
<!-- HOT_RELOAD -->
</html>
