.light {
  --textMainBlack: #101820;
  --textSecondary: #838277;
  --textMainWhite: #fff;
  --textTertiary: #c3c1b6;
  --textSuccess: #1e5e43;
  --textSystemBlue: #3478f6;
  --iconError: #e10a00;
  --textError: #f9423a;
  --textYellowLight: #fff0d9;
  --textYellowBrand: #ffb901;
  --textRedBrand: #f9423a;
  --textSurge: #6b2fe3;
  --iconPaleYellow: #fff0d9;
  --iconTertiary: #b7b7b7;
  --iconBlack: #000000;
  --lineBorder: #c3c1b6;
  --lineBorderActive: #838277;
  --lineBorderError: #f9423a;
  --lineProgressBar: #b7b7b7;
  --lineProgressBarAlpha: rgba(183, 183, 183, 0.4);
  --lineSeparatorLight: #e8e5d9;
  --lineSeparatorDark: #c3c1b6;
  --lineSeparatorSystem: #a4b1bc;
  --bgWhite: #fff;
  --bgGray: #f7f6f2;
  --bgGrayTransparent: rgba(39, 49, 51, 0.57);
  --bgBlueTransparent: rgba(47, 124, 246, 0.1);
  --bgSystemGray: #d4d7dc;
  --bgWhiteAlpha: rgba(255, 255, 255, 0.5);
  --bgWhiteAlpha2: rgba(255, 255, 255, 0.92);
  --bgWhiteAlpha3: rgba(255, 255, 255, 0.2);
  --bgGlass: rgba(234, 239, 240, 0.8);
  --bgBlack: #101820;
  --bgYellowBrandLight: #ffe6a3;
  --bgYellowBrand: #ffb901;
  --bgSurgeLight: #ebe1ec;
  --buttonYellowBrand: #ffb901;
  --buttonYellowBrandHover: #eeaa00;
  --buttonYellowBrandPressed: #dd9e00;
  --buttonSecondary: #f7f6f2;
  --buttonSecondaryHover: #eeeee6;
  --buttonSecondaryPressed: #e3e3dd;
  --buttonWhite: #fff;
  --buttonWhiteHover: #f7f6f2;
  --buttonWhitePressed: #eeeee6;
  --buttonBlack: #000;
  --buttonBlackHover: #333;
  --buttonBlackPressed: #555;
  --buttonTransparent: rgba(255, 255, 255, 0.12);
  --mapPolygon: #f9423a;
  --linkBlue: #25a0fe;
  --linkBlueHover: #27488b;
}
