@import "mixins.scss";

.app {
  position: relative;
  height: 100%;

  &.invisible {
    opacity: 0;
  }
}

.router {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
}
