@import "mixins.scss";

.root {
  padding: 20px;

  > div {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.label {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #c4c4de;
  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  > * {
    margin: 0 10px 10px 0;
  }
}
